@media screen and (max-width: 400px) {
  .background {
    padding: 30px 15px;
    .gridBlock {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, auto);
      width: 100%;
      height: auto;
      .gridCard {
        height: auto;
        padding: 16px;
      }
      .hero {
        grid-column: 1/2;
        grid-row: 1/2;
        padding-top: 40px;
        h1 {
          font-size: 45px;
        }
        p {
          margin-bottom: 23px;
        }
      }
      .manage {
        grid-column: 1/2;
        grid-row: 2/3;
        overflow: visible;
        img {
          width: calc(100% - 32px);
        }
        h2 {
          font-size: 27px;
        }
      }
      .maintain {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 215px;
        h2 {
          font-size: 27px;
        }
      }
      .schedule {
        grid-column: 1/2;
        grid-row: 4/5;
        h2 {
          font-size: 27px;
          margin-top: 15px;
          margin-bottom: 25px;
        }
        img {
          position: static;
          margin-bottom: 20px;
        }
        p {
          text-align: center;
          margin-bottom: 20px;
        }
      }
      .growFollowers {
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 5/6;
        padding: 25px 60px;
        h2 {
          // padding: 0 50px 15px;
          font-size: 30px;
          text-align: center;
        }
      }
      .audienceGrowth {
        grid-column: 1/2;
        grid-row: 6/7;
        h2 {
          font-size: 45px;
          span {
            padding-bottom: 7px;
          }
        }
        p {
          margin-bottom: 25px;
        }
      }
      .createAndWrite {
        grid-column: 1/2;
        grid-row: 7/8;
        h2 {
          font-size: 32px;
          font-weight: 500;
        }
        .create {
          padding-top: 30px;
        }
        .write {
          h2 {
            margin-top: 7px;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
