///colors
$p100: hsl(254, 88%, 90%);
$p500: hsl(256, 67%, 59%);
$y100: hsl(31, 66%, 93%);
$y500: hsl(39, 100%, 71%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);
$trans: all 0.13s ease-in-out;
/////functions///
// pixels to vw
@function ptw($scrnWidth, $pxls) {
  $res: calc($pxls/$scrnWidth * 100vw);
  @return $res;
}
///sass settings///
/// sass --watch scss/main.scss dist/main.css
